/* CSS Reset & RTL Base */
body {
    margin: 0;
    padding: 0;
    background: url('bg2.jpg');
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    direction: rtl;
    text-align: right;
}

/* Header */
.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: black;
    border: 2px solid white;
    margin: 10px 0;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Logo */
.left img {
    width: 200px;
    margin-top: 3px;
}

/* Nav Desktop */
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding-right: 40px;
}

.navbar li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar li a:hover,
.navbar li a.active {
    color: rgb(114, 113, 113);
    text-decoration: underline;
}

/* Hamburger & Mobile Icons */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 28px;
    color: white;
}

.close-menu {
    display: none;
}

/* Awards Content */
#imgheading {
    display: block;
    margin-top: 120px;
    text-align: center;
    font-weight: bold;
}

.myimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.myimagesitem {
    text-align: center;
    width: 45%;
    min-width: 300px;
}

.myimagesitem img {
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;
    transition: 0.3s;
}

.myimagesitem img:hover {
    transform: scale(1.02);
}

/* Footer */
footer {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.rightreserved {
    border-top: 2px solid white;
    width: 40%;
    margin: 20px auto;
    padding-top: 10px;
}

.sociallinks a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}

/* Mobile Responsive */
@media(max-width: 835px) {
    .hamburger {
        display: block;
    }

    .navbar ul {
        display: none; /* Hide menu by default on mobile */
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: black;
        border: 1px solid white;
        border-radius: 0 0 10px 10px;
    }

    .navbar ul.active {
        display: flex; /* Show when toggled */
    }

    .navbar li {
        margin: 15px 0;
        text-align: center;
    }

    .pdf {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .rightreserved {
        width: 80%;
    }
}