/* CSS Reset */
body {
    margin: 0;
    padding: 0;
    background: url('bg2.jpg');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}


/* Header */
.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: black;
    border: 2px solid white;
    margin: 10px 0;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Logo */
.left {
    position: relative;
    z-index: 100;
    top: 16px;
    left: 14px;
    display: inline-block;
    width: auto;
}

.left img {
    width: 250px;
    margin-top: 3px;
    margin-left: auto;
}

/* nav */
.right {
    position: relative;
    z-index: 100;
    width: auto;
    top: 0;
    right: 83px;
    display: inline-block;
    color: white;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    padding-left: 64px;
    margin-bottom: 0;
}

.navbar li a {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar li a:hover,
.navbar li a.active {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(114, 113, 113);
    text-decoration: underline;
}


/* Body */


/* Container */
.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 100px auto;
}

.container .shayanimg {
    height: 540px;
    margin: auto;
}

p {
    font-size: 28px;
    margin: auto;
    width: 50%;
}

.container p span {
    font-weight: bolder;
}

/* Past papers and Mock Paper */
.past-paper-button {
    margin-top: 10px;
    text-align: left;
    margin-left: 40px;
    cursor: pointer;
}

.past-paper-button .btn {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: 3px solid white;
    font-weight: bolder;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
}

.past-paper-button .btn:hover {
    background-color: #353535;
}



/* gallery */
#glheading {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery img {
    margin-top: 10px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    border: 2px solid white;
}

/* Sponsers */
#spheading {
    display: block;
    margin: 40px auto;
    text-align: center;
    font-weight: bold;
}

.sponsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sponseritem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsers .sponseritem img {
    margin-top: 10px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    border: 2px solid white;
}



/* Footer */
footer {
    margin-top: 100px;
    display: block;
    position: relative;
    text-align: center;
}

/* Rightreserved */
footer .rightreserved {
    border-top: 2px solid white;
    display: block;
    width: 33%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

/* social links */
.sociallinks a {
    display: inline-block;
    color: white;
    margin: 5px;
}


/* Announcement Popup */
.popup {
    display: none;
    /* background-color: white; */
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}
.popup::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 80%;
    background-color: white;
}
.popup-content{
    background-color: black;
    height: 330px;
    position: relative;
    /* top: 10vw;
    left: 55vh; */
    border-radius: 10px;
    z-index: 1000;
    border: 2px solid white;
}

.popup-content h3 {
    text-align: center;
}

.popup-content .class-btn {
    position: absolute;
    color: white;
    top: -2px;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.popup-content img {
    height: 250px;
    padding: 0;
}







/* Home Tab for Tablet  */




@media(max-width: 1150px) and (min-width:836px) {

    /* Header */
    .header {
        position: relative;
        z-index: 100;
        top: 0;
        width: 100%;
        background-color: black;
        border: 2px solid white;
        margin: 10px 0;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* Logo */
    .left {
        position: relative;
        z-index: 100;
        top: 16px;
        left: 14px;
        display: inline-block;
        width: auto;
    }

    .left img {
        width: 250px;
        margin-top: 3px;
        margin-left: auto;
    }

    /* nav */
    .right {
        position: relative;
        z-index: 100;
        width: auto;
        top: 0;
        right: 83px;
        display: inline-block;
        color: white;
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        padding-left: 64px;
        margin-bottom: 0;
    }

    .navbar li a {
        font-family: 'Baloo Bhai 2', cursive;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    .navbar li a:hover,
    .navbar li a.active {
        font-family: 'Baloo Bhai 2', cursive;
        font-size: 20px;
        font-weight: bold;
        color: rgb(114, 113, 113);
        text-decoration: underline;
    }

    

    /* Body */
    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 50px auto;
    }

    .container .shayanimg {
        height: 540px;
        margin: auto;
    }

    p {
        font-size: 28px;
        margin: auto;
        width: 90%;
    }

    .container p span {
        font-weight: bolder;
    }

    /* Past papers and Mock Paper */
    .past-paper-button {
        margin-top: 0px;
        text-align: center;
        cursor: pointer;
    }

    .past-paper-button .btn {
        display: inline-block;
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: 3px solid white;
        font-weight: bolder;
        border-radius: 15px;
        transition: background-color 0.3s ease;
        margin-bottom: 50px;
    }

    .past-paper-button .btn:hover {
        background-color: #353535;
    }


    /* gallery */
    #glheading {
        display: block;
        margin: auto;
        text-align: center;
        font-weight: bold;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gallery img {
        margin-top: 10px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.568);
        border-radius: 10px;
        border: 2px solid white;
    }

   /* Announcement Popup */
.popup {
    display: none;
    /* background-color: white; */
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}
.popup::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 80%;
    background-color: white;
}
.popup-content{
    background-color: black;
    height: 280px;
    position: relative;
    /* top: 10vw;
    left: 55vh; */
    border-radius: 10px;
    z-index: 1000;
    border: 2px solid white;
}

.popup-content h3 {
    text-align: center;
}

.popup-content .class-btn {
    position: absolute;
    color: white;
    top: -2px;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.popup-content img {
    height: 200px;
    padding: 0;
}

}



                                  /* Home Tab for Phone  */




@media(max-width: 835px) {

    /* Header */
    .header {
        position: relative;
        z-index: 100;
        top: 0;
        width: 100%;
        background-color: black;
        border: 2px solid white;
        margin: 10px 0;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* Logo */
    .left {
        position: relative;
        z-index: 100;
        top: 16px;
        left: 14px;
        display: inline-block;
        width: auto;
    }

    .left img {
        width: 10rem;
        margin-top: 3px;
        margin-left: auto;
    }

    /* nav */
    .right {
        position: relative;
        z-index: 100;
        width: auto;
        top: 0;
        right: 83px;
        display: inline-block;
        color: white;
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: flex;
        flex-direction: column;
        padding-left: 64px;
        margin-bottom: 0;
    }

    .navbar li a {
        font-family: 'Baloo Bhai 2', cursive;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    .navbar li a:hover,
    .navbar li a.active {
        font-family: 'Baloo Bhai 2', cursive;
        font-size: 20px;
        font-weight: bold;
        color: rgb(114, 113, 113);
        text-decoration: underline;
    }

    /* Body */
    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 50px auto;
    }

    .container .shayanimg {
        height: 11rem;
        margin: auto;
    }

    p {
        font-size: 25px;
        margin: auto;
        width: 95%;
    }

    .container p span {
        font-weight: bolder;
    }

    /* Past papers and Mock Paper */
    .past-paper-button {
        margin-top: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .past-paper-button .btn {
        display: inline-block;
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: 3px solid white;
        font-weight: bold;
        font-size: 10px;
        border-radius: 15px;
        transition: background-color 0.3s ease;
        margin-bottom: 50px;
    }

    .past-paper-button .btn:hover {
        background-color: #353535;
    }


    /* gallery */
    #glheading {
        display: block;
        margin: auto;
        text-align: center;
        font-weight: bold;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery img {
        margin-top: 10px;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.568);
        border-radius: 10px;
        border: 2px solid white;
    }

    /* Sponsers */
#spheading {
    display: block;
    margin: 40px auto;
    text-align: center;
    font-weight: bold;
}

.sponsers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sponseritem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsers .sponseritem img {
    margin-top: 10px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    border: 2px solid white;
}

  /* Announcement Popup */
.popup {
    display: none;
    /* background-color: white; */
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}
.popup::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 80%;
    background-color: white;
}
.popup-content{
    background-color: black;
    height: 200px;
    position: relative;
    /* top: 10vw;
    left: 55vh; */
    border-radius: 10px;
    z-index: 1000;
    border: 2px solid white;
}

.popup-content h3 {
    text-align: center;
}

.popup-content .class-btn {
    position: absolute;
    color: white;
    top: -2px;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.popup-content img {
    height: 120px;
    padding: 0;
}

}
